// jQuery  
script(src='scripts/jquery.js')

// bootstrap 
script(src='scripts/bootstrap.min.js')

// easing 
script(src='scripts/easing/jquery.easing.1.3.js')

// wow 
script(src='scripts/wow/wow.min.js')
    
// backstretch 
script(src='scripts/backstretch/jquery.backstretch.min.js')

// owl carousel 
script(src='scripts/owl-carousel/owl.carousel.js')

// Magnific Popup 
script(src='scripts/magnific-popup/jquery.magnific-popup.js')

// UIToTop 
script(src='scripts/uitotop/jquery.ui.totop.min.js')

// main 
script(src='scripts/main.js')
