// contact 
#contact.fullSection
  .container
    .section-heading
      h2 聯繫或加入我們
    .row
      // contact form 
      .col-md-6.col-sm-6
        .contact-form.wow.fadeInLeft.showdelay2
          form(role='form')
            .form-group
              label 姓名
              input.form-control(type='text')
            .form-group
              label Email
              input.form-control(type='email')
            .form-group
              label 留言給我們
              textarea.form-control(rows='7')
            .pull-right
              button.btn.btn-custom.btn-lg(type='submit') Submit
          .clearfix
      // address 
      .col-md-6.col-sm-6
        .address.wow.fadeInRight.showdelay2
          h3 地址
          ul.unstyled
            li
              i.fa.fa-map-marker
              | 尚無
            li
              i.fa.fa-envelope
              | email@jsgirls.tw
            li
              i.fa.fa-phone
              | 尚無
            li
              i.fa.fa-fax
              | 尚無
        .social.wow.fadeInRight.showdelay2
          h3 社群 
          ul.social-link
            li
              a(href='https://www.facebook.com/jsgirlstw')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-linkedin
            li
              a(href='#')
                i.fa.fa-google-plus
            li
              a(href="https://www.facebook.com/groups/jsgirlstw")
                i.fa.fa-facebook
