#featured.fullSection
  .container
    .section-heading
      h2 Feedback
    #featured-list.owl-carousel.wow.fadeInUp.showdelay2
      .featured-box.item.text-center
        img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
        .featured-info
          h3 Sunset
          p Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.
          a.btn.btn-custom(href='#', data-toggle='modal', data-target='#featured-modal') Read More
      .featured-box.item.text-center
        img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
        .featured-info
          h3 Icy Road
          p Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.
          a.btn.btn-custom(href='#', data-toggle='modal', data-target='#featured-modal') Read More
      .featured-box.item.text-center
        img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
        .featured-info
          h3 Snowy Rocks
          p Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.
          a.btn.btn-custom(href='#', data-toggle='modal', data-target='#featured-modal') Read More
      .featured-box.item.text-center
        img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
        .featured-info
          h3 Cold Mountain
          p Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.
          a.btn.btn-custom(href='#', data-toggle='modal', data-target='#featured-modal') Read More
      .featured-box.item.text-center
        img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
        .featured-info
          h3 Sun Rise
          p Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.
          a.btn.btn-custom(href='#', data-toggle='modal', data-target='#featured-modal') Read More
      .featured-box.item.text-center
        img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
        .featured-info
          h3 Nice Bay
          p Lorem ipsum dolor sit amet, consectetur adipiscing metus elit.
          a.btn.btn-custom(href='#', data-toggle='modal', data-target='#featured-modal') Read More
    #featured-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel3', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
              span.sr-only Close
            h2#myModalLabel3.modal-title Web Design
          .modal-body
            h3.text-center Center image with details
            p
              img.img-responsive.img-full(src='images/img1.jpg', alt='')
              | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra.
            hr
            h3 Left image with details
            p
              img.img-responsive.pull-left(src='images/img1.jpg', alt='')
              | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus.
              | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus.
            hr
            h3 Right image with details
            p
              img.img-responsive.pull-right(src='images/img1.jpg', alt='')
              | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus.
              | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem
