<<<<<<< HEAD
#showcase.fullSection
  .container
    .section-heading
      h2 Showcase
    .row
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            .img_overlay
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            .img_overlay
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            .img_overlay
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            .img_overlay
    .row
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            .img_overlay
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            .img_overlay
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            .img_overlay
      .col-md-3.col-sm-6
        .pic.wow.flipInX.showdelay2
          a.gallery-item(href='images/img1.jpg')
            img.img-responsive.img-thumbnail(src='images/img1.jpg', alt='')
            