    <!-- Icon-box -->
    <div id="icon-box" class="fullSection">
      <div class="container">
      
        <div class="section-heading">
          <h2>Icon Features</h2>
        </div>
        
        <div class="row">           
          <div class="col-md-4 col-sm-4">
            <div class="icon-box text-center wow fadeInLeft showdelay2">
              <i class="fa fa-android"></i>
              <h3>Android Icon</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>            
          <div class="col-md-4 col-sm-4">
            <div class="icon-box text-center wow fadeInUp showdelay2">
              <i class="fa fa-apple"></i>
              <h3>Apple Icon</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>          
          <div class="col-md-4 col-sm-4">
            <div class="icon-box text-center wow fadeInRight showdelay2">
              <i class="fa fa-rocket"></i>
              <h3>Rocket Icon</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>            
        </div>
        <!-- ./row -->
        
        <div class="row">           
          <div class="col-md-4 col-sm-4">
            <div class="icon-box text-center wow fadeInLeft showdelay2">
              <i class="fa fa-umbrella"></i>
              <h3>Umbrella Icon</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>            
          <div class="col-md-4 col-sm-4">
            <div class="icon-box text-center wow fadeInUp showdelay2">
              <i class="fa fa-plane"></i>
              <h3>Airplave Icon</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>          
          <div class="col-md-4 col-sm-4">
            <div class="icon-box text-center wow fadeInRight showdelay2">
              <i class="fa fa-rss"></i>
              <h3>RSS Icon</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.</p>
            </div>
          </div>            
        </div>
        <!-- ./row -->
        
      </div>
          
    </div>
    <!-- ./Icon-box -->