// Icon-box 
#icon-box.fullSection
  .container
    .section-heading
      h2 Workshop
    .row
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInLeft.showdelay2
          i.fa.fa-android
          h3 Android Icon
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInUp.showdelay2
          i.fa.fa-apple
          h3 Apple Icon
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInRight.showdelay2
          i.fa.fa-rocket
          h3 Rocket Icon
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.
    .row
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInLeft.showdelay2
          i.fa.fa-umbrella
          h3 Umbrella Icon
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInUp.showdelay2
          i.fa.fa-plane
          h3 Airplave Icon
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInRight.showdelay2
          i.fa.fa-rss
          h3 RSS Icon
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing metus elit Quisque rutrum pellentesque imperdiet.
