<!DOCTYPE html>
<html lang="en">

  
  <body data-spy="scroll" data-target=".navbar-custom">
  
    <!-- Preloader -->
    <div class="preloader">
      <div class="loader-item">
        <img src="images/loading.gif" alt="loader">
      </div>
    </div> 
    
    <!-- pattern -->
    <div id="bg_pattern"></div>
    <!-- ./pattern -->
    

    

        

          

    

    

    

    

      
      



    <!-- jQuery  -->
    <script src="scripts/jquery.js"></script>
    <!-- bootstrap -->
    <script src="scripts/bootstrap.min.js"></script>
    <!-- easing -->
    <script src="scripts/easing/jquery.easing.1.3.js"></script>
    <!-- wow -->
    <script src="scripts/wow/wow.min.js"></script>
    <!-- backstretch -->
    <script src="scripts/backstretch/jquery.backstretch.min.js"></script>
    <!-- owl carousel -->
    <script src="scripts/owl-carousel/owl.carousel.js"></script>  
    <!-- Magnific Popup -->
    <script src="scripts/magnific-popup/jquery.magnific-popup.js"></script> 
    <!-- UIToTop -->
    <script src="scripts/uitotop/jquery.ui.totop.min.js"></script>    
    <!-- main -->
    <script src="scripts/main.js"></script>
    
    
  </body>
</html>