doctype html

html(lang="en")

  body
    block header
      include ../includes/header
    block navbar
      include ../includes/nav
    section.container
        block content
    section.footer
        block footer
          include ../includes/footer