#grid.fullSection
  .container
    .section-heading
      h2 講座課程
    .row
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 JavaScript 的初次見面
        p
          | 
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 HTML5 與 CSS3 的邂逅
        p
          | 
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 與 Bootstrap 的甜蜜生活
        p
          | 
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 抓住彼此的心 jQuery
        p
          | 

    .row
      .col-md-6.col-sm-6.wow.fadeInUp.showdelay2
        h3 再一次約會也可以很不一樣 Node.js
        p
          | 
      .col-md-6.col-sm-6.wow.fadeInUp.showdelay2
        h3 好聚好散 React.js
        p
          | 
    //.row
      //.col-md-12.wow.fadeInUp.showdelay2
        //h3 Full
        //p
          //| about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus.
