#grid.fullSection
  .container
    .section-heading
      h2 相關資源
    .row
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 W3Cschool
        p
          | http://www.w3cschools.com 裡面有許多基礎範例和講解，可以帶領你進入HTML5、CSS3、JavaScript的語法和使用。另外還有SQL、PHP、jQuery等的介紹和語法，以及使用範例。最近更加入了AngularJS的頁面。實在是相當適合新手學習的地方。
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 jade
        p
          | 一種更為簡便的HTML替代語法。簡化標籤的寫法，加入if else、for和while等的使用。讓HTML的寫法更為靈活。
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 1/4
        p
          | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.
      .col-md-3.col-sm-3.wow.fadeInUp.showdelay2
        h3 1/4
        p
          | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim.

    .row
      .col-md-6.col-sm-6.wow.fadeInUp.showdelay2
        h3 1/2
        p
          | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum.
      .col-md-6.col-sm-6.wow.fadeInUp.showdelay2
        h3 1/2
        p
          | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum.
    .row
      .col-md-12.wow.fadeInUp.showdelay2
        h3 Full
        p
          | about section Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper diam nec augue semper, in dignissim elit hendrerit. Quisque tempus arcu vulputate metus convallis elementum. Aenean rhoncus rutrum quam ut semper. Fusce ut eros quis metus ullamcorper commodo ut sit amet nisi. Cras mattis enim eu urna tristique posuere. In vitae adipiscing nulla. Phasellus purus eros, aliquam ac urna eget, dictum consequat turpis. Aliquam hendrerit odio ut placerat pharetra. Etiam quis auctor sapien. Praesent sed consectetur lorem, et gravida purus.
