// Icon-box 
#icon-box.fullSection
  .container
    .section-heading
      h2 講座
    .row
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInLeft.showdelay2
          i.fa.fa-android
          h3 JavaScript 的初次見面
          p
            | 
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInUp.showdelay2
          i.fa.fa-apple
          h3 HTML5 與 CSS3 的邂逅
          p
            | 
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInRight.showdelay2
          i.fa.fa-rocket
          h3 與 Bootstrap 的甜蜜生活
          p
            | 
    .row
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInLeft.showdelay2
          i.fa.fa-umbrella
          h3 抓住彼此的心 jQuery
          p
            | 
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInUp.showdelay2
          i.fa.fa-plane
          h3 再一次約會也可以很不一樣 Node.js
          p
            | 
      .col-md-4.col-sm-4
        .icon-box.text-center.wow.fadeInRight.showdelay2
          i.fa.fa-rss
          h3 好聚好散 React.js
          p
            | 
